/*
Diane E. Granger
Day 3 Assignment
JavaScript Programming Essentials | LetsUpgrade
Wednesday, November 9, 2022
*/

.header {
  padding: 30px;
  text-align: center;
  background: rgb(188, 26, 126);
  color: white;
  font-size: 20px;
}